#hd {
  padding-top: 78px;
}

.navbar-brand {
  width: 150px;
}

.scroll .navbar-brand {
  width: 120px;
}

nav, .navbar-brand {
  transition: 0.5s;
}

.scroll nav {
  background-color: rgba(255, 255, 255, 0.25) !important;
  border-bottom: 1px solid rgba(100, 100, 100, 0.25);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 0 !important;
}

.scroll nav a {
  color: black !important;
}

.nav-link.act {
  font-weight: bolder !important;
}

#submitButton, .feature {
  background-color: #00b360;
  border: 0;
  opacity: 1;
}

.ss1 {
  background-image: url(https://images.pexels.com/photos/50594/sea-bay-waterfront-beach-50594.jpeg);
}

.ss2 {
  background-image: url(https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg);
}

.ss3 {
  background-image: url(https://images.pexels.com/photos/210186/pexels-photo-210186.jpeg);
}

.nav-item a {
  color: white;
}

.navbar-toggler {
  border: 3px rgba(255, 255, 255, 0.5) solid;
}

.bi-list {
  color: rgba(255, 255, 255, 0.5);
}

.scroll .navbar-toggler {
  border: 3px #00b360 solid;
}

.scroll .bi-list {
  color: #00b360;
}